# Q1: : Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
#generate automated chrom page
driver = webdriver.Chrome(r"chromedriver.exe")

In [18]:
#get link
driver.get("http://naukri.com/")

In [19]:
# search for skill,and location

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

scrape the job-title, job-location, company_name, experience_required

In [20]:
# Initialize empty lists
job_titles = []
job_locations = []
company_names = []
experience_required = []

# Scraping job titles
titles = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]') 

for title in titles[0:10]:  
    tag = title.text  
    job_titles.append(tag)

# Scraping job locations
locations = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')  
for location in locations[0:10]:  
    l1 = location.text  
    job_locations.append(l1)

# Scraping company names
companies = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]') 

for company in companies[0:10]:  
    com = company.text  
    company_names.append(com)

# Scraping experience requirements
experiences = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')

for experience in experiences[0:10]:
    exp = experience.text
    experience_required.append(exp)

DataFrame

In [23]:
# Create a dataframe of the scraped data
data = {
    'Job Title': job_titles,
    'Job Location': job_locations,
    'Company Name': company_names,
    'Experience Required': experience_required
}

df = pd.DataFrame(data)

In [22]:
df

,Job Title,Job Location,Company Name,Experience Required
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
2,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
3,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tata Consultancy Services (TCS),5-10 Yrs
5,Data Analyst (Bangalore),Bangalore/Bengaluru,Krazy Mantra,7-12 Yrs
6,Insight Data Analyst,"Bangalore/ Bengaluru, Karnataka, Noida, Uttar ...",Vuca Consulting,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Loyalytics Consulting,4-9 Yrs
8,Data Analyst,Bangalore/Bengaluru,Clairvoyant India Pvt. Ltd,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Lowes Services India Private limited,3-5 Yrs

# Q2:scrape data for “Data Scientist” Job position in “Bangalore” location

scrape the job-title, job-location, company_name

In [31]:
driver2 = webdriver.Chrome(r"chromedriver.exe")

In [32]:
driver2.get("http://naukri.com/")

In [33]:
#designation 'data scientist'
designation = driver2.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

#location
location = driver2.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

#search
search = driver2.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [34]:
# Initialize empty lists
Titles = []
Locations = []
Company = []


# Scraping job titles
titles = driver2.find_elements(By.XPATH, '//a[@class="title ellipsis"]') 

for title in titles[0:10]:  
    tag = title.text  
    Titles.append(tag)

# Scraping job locations
locations = driver2.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')  
for location in locations[0:10]:  
    l1 = location.text  
    Locations.append(l1)

# Scraping company names
companies = driver2.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]') 

for company in companies[0:10]:  
    com = company.text  
    Company.append(com)

In [35]:
# Create a dataframe of the scraped data
data1 = {
    'Title': Titles,
    'Location': Locations,
    'Company Name': Company,
    
}

df2 = pd.DataFrame(data1)

In [36]:
df2

,Title,Location,Company Name
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Scientist,Bangalore/Bengaluru,Ericsson
4,Data Scientist,Bangalore/Bengaluru,Ericsson
5,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS)
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart
7,Data Scientist,Bangalore/Bengaluru,Walmart
8,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS)
9,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain

In [90]:
driver2.quit()

# Q3: Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [268]:
driver3 = webdriver.Chrome(r"chromedriver.exe")
driver3.get("http://naukri.com/")

#skill
designation = driver3.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

#search
search = driver3.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [273]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Send GET request to the naukri.com website
url = 'https://www.naukri.com/data-scientist-jobs'
response = requests.get(url)

# Create BeautifulSoup object from the response content

In [291]:
soup = BeautifulSoup(response.content)
soup

<!DOCTYPE html>
<html lang="en"> <head> <meta content="IE=Edge" http-equiv="X-UA-Compatible"/> <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"/> <link href="//static.naukimg.com" rel="dns-prefetch preconnect"/> <link href="//img.naukimg.com" rel="dns-prefetch preconnect"/> <link href="//logs.naukri.com" rel="dns-prefetch preconnect"/> <link href="//lg.naukri.com" rel="dns-prefetch preconnect"/> <link href="https://www.googletagmanager.com" rel="dns-prefetch"/> <base href="//www.naukri.com"/> <link href="./manifest.json" rel="manifest"/> <link as="style" href="//static.naukimg.com/s/7/109/c/main.16f16519.min.css" rel="preload"/> <link as="script" crossorigin="anonymous" href="//static.naukimg.com/s/7/109/j/main.f485e71d.min.js" rel="preload"/> <link as="script" href="https://static.naukimg.com/s/7/0/j/widget-client-ni.min.js" rel="preload"/> <link as="script" href="https://static.naukimg.com/s/7/0/j/naukri-widget_v12.3.min.js" rel="preload"/> <script>
        window.ipAddress = "www.naukri.com";
        window.DEBUG = true;
        window.appId = 135;
                    var isCrawler = false;
                            var ucBrowser = false;
            </script> <style type="text/css"> .splScrn{ height: 100%; } body{margin:0} .nkIcon { width: 19rem; height:19rem; margin: auto; position: relative; padding-top: 95px; } .nk-text { font-size: 40px; margin-bottom: 60px; text-align: center; font-weight: 700; color:#999; font-family:arial } #circleG { width: 9rem; margin: auto } .circleG { background-color: #2DABE2; float: left; height: 14px; margin: 5px; width: 14px; animation-name: bounce_circleG; -o-animation-name: bounce_circleG; -ms-animation-name: bounce_circleG; -webkit-animation-name: bounce_circleG; -moz-animation-name: bounce_circleG; animation-duration: 1.8s; -o-animation-duration: 1.8s; -ms-animation-duration: 1.8s; -webkit-animation-duration: 1.8s; -moz-animation-duration: 1.8s; animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-direction: normal; -o-animation-direction: normal; -ms-animation-direction: normal; -webkit-animation-direction: normal; -moz-animation-direction: normal; border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50% } #root, body, html { height: 100% } #circleG_1 { animation-delay: .45s; -o-animation-delay: .45s; -ms-animation-delay: .45s; -webkit-animation-delay: .45s; -moz-animation-delay: .45s } #circleG_2 { animation-delay: .65s; -o-animation-delay: .65s; -ms-animation-delay: .65s; -webkit-animation-delay: .65s; -moz-animation-delay: .65s } #circleG_3 { animation-delay: .85s; -o-animation-delay: .85s; -ms-animation-delay: .85s; -webkit-animation-delay: .85s; -moz-animation-delay: .85s } #circleG_4 { animation-delay: 1.05s; -o-animation-delay: 1.05s; -ms-animation-delay: 1.05s; -webkit-animation-delay: 1.05s; -moz-animation-delay: 1.05s } #circleG_5 { animation-delay: 1.25s; -o-animation-delay: 1.25s; -ms-animation-delay: 1.25s; -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s } @keyframes bounce_circleG { 50% { width: 10px; height: 10px; margin: 7px; background-color: rgba(12, 109, 182, 0) } } </style> </head> <body> <img height="99999" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wI iBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8v d3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+" style="pointer-events:none;position:absolute;top:0;left:0;width:95vw;height:95vh;max-width:95vw;max-height:95vh" width="99999"/> <img height="400" src="https://static.naukimg.com/s/0/0/i/transparentImg.png" style="pointer-events:none;position:absolute;top:0;left:0;width:400px;height:400px;max-width:400px;max-height:400px;z-index:1000;" width="400"/> <noscript> <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-NX744H" style="display:none;visibility:hidden" width="0"></iframe> </noscript> <div id="root"> <div class="splScrn"> <div class="row top"> <div class="nkIcon"><svg viewbox="0 0 315 315" xmlns="http://www.w3.org/2000/svg"><style type="text/css"> .st0{fill:#2DABE2;} .st1{fill:#0C6DB6;} .st2{fill:#EC2227;} .st3{fill:#444444;} .st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EC2227;} .st5{fill-rule:evenodd;clip-rule:evenodd;fill:#0C6DB6;} </style><path class="st0" d="M0 200.8h10v4.6c1.5-1.9 3-3.2 4.5-4 1.5-0.8 3.4-1.2 5.6-1.2 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.5 2.5 8.2v17.8H18.8v-15.4c0-1.8-0.3-3-1-3.7 -0.7-0.7-1.6-1.1-2.7-1.1 -1.3 0-2.4 0.5-3.2 1.5 -0.8 1-1.2 2.8-1.2 5.3v13.4H0V200.8z"></path><path class="st0" d="M45.8 209.9l-10.3-1.1c0.4-1.8 0.9-3.2 1.7-4.2 0.7-1 1.8-1.9 3.2-2.7 1-0.5 2.3-1 4.1-1.3 1.7-0.3 3.6-0.4 5.6-0.4 3.2 0 5.8 0.2 7.8 0.5 2 0.4 3.6 1.1 4.9 2.3 0.9 0.8 1.6 1.9 2.2 3.4 0.5 1.5 0.8 2.8 0.8 4.2v12.4c0 1.3 0.1 2.4 0.3 3.1 0.2 0.7 0.5 1.7 1.1 2.9H56.9c-0.4-0.7-0.7-1.3-0.8-1.6 -0.1-0.4-0.2-1-0.4-1.8 -1.4 1.4-2.8 2.3-4.2 2.9 -1.9 0.8-4.1 1.2-6.6 1.2 -3.3 0-5.9-0.8-7.6-2.3 -1.7-1.5-2.6-3.5-2.6-5.7 0-2.1 0.6-3.9 1.9-5.2 1.2-1.4 3.6-2.4 6.9-3.1 4-0.8 6.6-1.4 7.8-1.7 1.2-0.3 2.5-0.8 3.8-1.3 0-1.3-0.3-2.2-0.8-2.8 -0.5-0.5-1.5-0.8-2.9-0.8 -1.8 0-3.1 0.3-4 0.8C46.8 207.8 46.2 208.6 45.8 209.9zM55.1 215.5c-1.5 0.5-3 1-4.6 1.4 -2.2 0.6-3.6 1.2-4.1 1.7 -0.6 0.6-0.9 1.2-0.9 2 0 0.8 0.3 1.5 0.9 2.1 0.6 0.5 1.5 0.8 2.6 0.8 1.2 0 2.3-0.3 3.3-0.9 1-0.6 1.8-1.3 2.2-2.1 0.4-0.8 0.6-1.9 0.6-3.3V215.5z"></path><path class="st0" d="M101.6 228.8h-10v-4.5c-1.5 1.9-3 3.2-4.5 4 -1.5 0.8-3.4 1.2-5.6 1.2 -3 0-5.3-0.9-6.9-2.7 -1.7-1.8-2.5-4.5-2.5-8.2v-17.8h10.8v15.4c0 1.8 0.3 3 1 3.7 0.7 0.7 1.6 1.1 2.7 1.1 1.3 0 2.3-0.5 3.2-1.5 0.8-1 1.2-2.8 1.2-5.3v-13.5h10.7V228.8z"></path><path class="st0" d="M108.1 190.1h11v20l8-9.3h13.2l-10 9.8 10.6 18.2h-12.1l-5.7-11.2 -4 3.9v7.3h-11V190.1z"></path><path class="st0" d="M144.2 200.8h10v4.6c1-2 2-3.4 3-4.1 1-0.7 2.3-1.1 3.8-1.1 1.6 0 3.3 0.5 5.2 1.5l-3.3 7.6c-1.3-0.5-2.3-0.8-3-0.8 -1.4 0-2.5 0.6-3.3 1.7 -1.1 1.6-1.7 4.7-1.7 9.2v9.4h-10.8V200.8z"></path><path class="st0" d="M168.5 190.1h10.7v7.3h-10.7V190.1zM168.5 200.8h10.7v28h-10.7V200.8z"></path><path class="st1" d="M216.1 217.8l10.2 1.2c-0.6 2.1-1.5 4-2.8 5.5 -1.3 1.6-2.9 2.8-4.9 3.6 -2 0.9-4.5 1.3-7.6 1.3 -3 0-5.4-0.3-7.4-0.8 -2-0.6-3.7-1.4-5.1-2.7 -1.4-1.2-2.5-2.7-3.3-4.4 -0.8-1.7-1.2-3.9-1.2-6.6 0-2.9 0.5-5.3 1.5-7.2 0.7-1.4 1.7-2.7 3-3.8 1.2-1.1 2.5-1.9 3.9-2.5 2.1-0.9 4.8-1.3 8-1.3 4.6 0 8.1 0.8 10.5 2.5 2.4 1.6 4.1 4 5.1 7.2l-10.1 1.3c-0.3-1.2-0.9-2.1-1.7-2.7 -0.8-0.6-2-0.9-3.4-0.9 -1.8 0-3.2 0.6-4.3 1.9 -1.1 1.3-1.6 3.2-1.6 5.8 0 2.3 0.5 4 1.6 5.2 1.1 1.2 2.5 1.8 4.2 1.8 1.4 0 2.6-0.4 3.5-1.1C214.9 220.4 215.7 219.3 216.1 217.8z"></path><path class="st1" d="M230 214.9c0-4.3 1.4-7.8 4.3-10.6 2.9-2.8 6.8-4.2 11.7-4.2 5.6 0 9.8 1.6 12.7 4.9 2.3 2.6 3.5 5.8 3.5 9.7 0 4.3-1.4 7.8-4.3 10.6 -2.9 2.8-6.8 4.1-11.9 4.1 -4.5 0-8.1-1.1-10.9-3.4C231.7 223.2 230 219.5 230 214.9zM240.7 214.8c0 2.5 0.5 4.3 1.5 5.5 1 1.2 2.3 1.8 3.8 1.8 1.5 0 2.8-0.6 3.8-1.8 1-1.2 1.5-3.1 1.5-5.7 0-2.4-0.5-4.2-1.5-5.4 -1-1.2-2.2-1.8-3.7-1.8 -1.6 0-2.9 0.6-3.9 1.8C241.2 210.5 240.7 212.4 240.7 214.8z"></path><path class="st1" d="M267.4 200.8h10v4.1c1.4-1.7 2.9-2.9 4.4-3.6 1.5-0.7 3.2-1.1 5.3-1.1 2.2 0 4 0.4 5.3 1.2 1.3 0.8 2.4 2 3.2 3.5 1.7-1.8 3.2-3.1 4.6-3.7 1.4-0.7 3.1-1 5.1-1 3 0 5.3 0.9 7 2.7 1.7 1.8 2.5 4.6 2.5 8.4v17.6h-10.8v-16c0-1.3-0.2-2.2-0.7-2.8 -0.7-1-1.6-1.4-2.7-1.4 -1.3 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.4-1.2 4.4v14.5h-10.8v-15.4c0-1.2-0.1-2.1-0.2-2.5 -0.2-0.7-0.6-1.3-1.2-1.7 -0.6-0.4-1.2-0.6-2-0.6 -1.2 0-2.3 0.5-3 1.4 -0.8 0.9-1.2 2.5-1.2 4.6v14.3h-10.8V200.8z"></path><circle class="st2" cx="187.7" cy="224.2" r="4.6"></circle><path class="st3" d="M163.1 251.5v-11.3h2.3v11.3H163.1z"></path><path class="st3" d="M175 251.5h-2.2v-4.2c0-0.9 0-1.5-0.1-1.7 -0.1-0.3-0.2-0.5-0.4-0.6 -0.2-0.1-0.5-0.2-0.8-0.2 -0.4 0-0.7 0.1-1 0.3 -0.3 0.2-0.5 0.5-0.6 0.8 -0.1 0.3-0.2 1-0.2 1.9v3.7h-2.2v-8.2h2v1.2c0.7-0.9 1.6-1.4 2.7-1.4 0.5 0 0.9 0.1 1.3 0.3 0.4 0.2 0.7 0.4 0.9 0.7 0.2 0.3 0.3 0.6 0.4 0.9 0.1 0.3 0.1 0.8 0.1 1.5V251.5z"></path><path class="st3" d="M184.7 251.5h-2v-1.2c-0.3 0.5-0.7 0.8-1.2 1 -0.5 0.2-0.9 0.3-1.4 0.3 -0.9 0-1.7-0.4-2.4-1.1 -0.7-0.8-1-1.8-1-3.2 0-1.4 0.3-2.4 1-3.2 0.7-0.7 1.5-1.1 2.5-1.1 0.9 0 1.7 0.4 2.4 1.1v-4.1h2.2V251.5zM178.9 247.2c0 0.9 0.1 1.5 0.4 1.9 0.3 0.6 0.8 0.8 1.5 0.8 0.5 0 0.9-0.2 1.3-0.6 0.4-0.4 0.5-1.1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C179.1 245.8 178.9 246.4 178.9 247.2z"></path><path class="st3" d="M186.8 242.2v-2h2.2v2H186.8zM186.8 251.5v-8.2h2.2v8.2H186.8z"></path><path class="st3" d="M192.8 245.8l-2-0.4c0.2-0.8 0.6-1.4 1.1-1.8 0.5-0.4 1.3-0.6 2.4-0.6 1 0 1.7 0.1 2.2 0.3 0.5 0.2 0.8 0.5 1 0.9 0.2 0.4 0.3 1 0.3 1.9l0 2.5c0 0.7 0 1.2 0.1 1.6 0.1 0.3 0.2 0.7 0.4 1.1h-2.1c-0.1-0.1-0.1-0.4-0.2-0.6 0-0.1-0.1-0.2-0.1-0.3 -0.4 0.4-0.8 0.6-1.2 0.8 -0.4 0.2-0.9 0.3-1.3 0.3 -0.8 0-1.5-0.2-2-0.7 -0.5-0.5-0.7-1-0.7-1.7 0-0.5 0.1-0.9 0.3-1.2 0.2-0.4 0.5-0.6 0.9-0.8 0.4-0.2 1-0.4 1.7-0.5 1-0.2 1.7-0.4 2.1-0.5v-0.2c0-0.4-0.1-0.7-0.3-0.9 -0.2-0.2-0.6-0.3-1.2-0.3 -0.4 0-0.7 0.1-0.9 0.2C193.1 245.1 193 245.4 192.8 245.8zM195.7 247.5c-0.3 0.1-0.7 0.2-1.3 0.3 -0.6 0.1-1 0.3-1.2 0.4 -0.3 0.2-0.4 0.5-0.4 0.8 0 0.3 0.1 0.6 0.3 0.8 0.2 0.2 0.5 0.3 0.9 0.3 0.4 0 0.8-0.1 1.1-0.4 0.3-0.2 0.4-0.4 0.5-0.7 0.1-0.2 0.1-0.5 0.1-1.1V247.5z"></path><path class="st3" d="M199.9 240.2h2.2v1.5c0 0.6-0.1 1.1-0.2 1.5 -0.1 0.4-0.3 0.7-0.6 1 -0.3 0.3-0.7 0.5-1.1 0.7l-0.4-0.9c0.4-0.1 0.7-0.3 0.9-0.6 0.2-0.3 0.3-0.6 0.3-1h-1V240.2z"></path><path class="st3" d="M203 249.1l2.2-0.3c0.1 0.4 0.3 0.7 0.6 1 0.3 0.2 0.7 0.3 1.2 0.3 0.6 0 1-0.1 1.3-0.3 0.2-0.1 0.3-0.3 0.3-0.6 0-0.2-0.1-0.3-0.2-0.4 -0.1-0.1-0.3-0.2-0.7-0.3 -1.7-0.4-2.8-0.7-3.3-1.1 -0.6-0.4-1-1.1-1-1.8 0-0.7 0.3-1.3 0.8-1.8 0.6-0.5 1.4-0.7 2.6-0.7 1.1 0 1.9 0.2 2.5 0.5 0.5 0.4 0.9 0.9 1.1 1.6l-2 0.4c-0.1-0.3-0.3-0.6-0.5-0.7 -0.2-0.2-0.6-0.3-1-0.3 -0.6 0-1 0.1-1.2 0.2 -0.2 0.1-0.2 0.3-0.2 0.4 0 0.2 0.1 0.3 0.2 0.4 0.2 0.1 0.9 0.3 2 0.6 1.2 0.3 2 0.6 2.4 1 0.5 0.4 0.7 0.9 0.7 1.6 0 0.8-0.3 1.4-0.9 1.9 -0.6 0.5-1.6 0.8-2.8 0.8 -1.1 0-2-0.2-2.6-0.7C203.6 250.5 203.2 249.9 203 249.1z"></path><path class="st3" d="M216.9 251.5v-11.3h2.2l4.6 7.5v-7.5h2.1v11.3h-2.3l-4.5-7.4v7.4H216.9z"></path><path class="st3" d="M227.8 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C228 249 227.8 248.2 227.8 247.3zM230 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C230.2 245.9 230 246.6 230 247.4z"></path><path class="st3" d="M237.9 251.5v-2.2h2.2v2.2H237.9z"></path><path class="st3" d="M247.4 251.5h-2.2v-8.2c-0.8 0.7-1.7 1.3-2.8 1.6v-2c0.6-0.2 1.2-0.5 1.8-1.1 0.7-0.5 1.1-1.1 1.4-1.8h1.8V251.5z"></path><path class="st3" d="M259.5 240.2h2.3v7.1c0 0.9-0.1 1.7-0.2 2.2 -0.2 0.7-0.6 1.2-1.2 1.6 -0.6 0.4-1.3 0.6-2.3 0.6 -1.1 0-2-0.3-2.6-0.9 -0.6-0.6-0.9-1.5-0.9-2.7l2.1-0.2c0 0.6 0.1 1.1 0.3 1.4 0.2 0.4 0.6 0.6 1.1 0.6 0.5 0 0.9-0.1 1.1-0.4 0.2-0.3 0.3-0.9 0.3-1.8V240.2z"></path><path class="st3" d="M263.7 247.3c0-0.7 0.2-1.4 0.5-2.1 0.4-0.7 0.9-1.2 1.5-1.5 0.6-0.4 1.4-0.5 2.2-0.5 1.2 0 2.2 0.4 3 1.2 0.8 0.8 1.2 1.8 1.2 3 0 1.2-0.4 2.3-1.2 3.1 -0.8 0.8-1.8 1.2-3 1.2 -0.7 0-1.5-0.2-2.1-0.5 -0.7-0.3-1.2-0.8-1.6-1.5C263.9 249 263.7 248.2 263.7 247.3zM265.9 247.4c0 0.8 0.2 1.4 0.6 1.9 0.4 0.4 0.9 0.6 1.4 0.6 0.6 0 1-0.2 1.4-0.6 0.4-0.4 0.6-1.1 0.6-1.9 0-0.8-0.2-1.4-0.6-1.8 -0.4-0.4-0.9-0.6-1.4-0.6 -0.6 0-1 0.2-1.4 0.6C266.1 245.9 265.9 246.6 265.9 247.4z"></path><path class="st3" d="M273.7 251.5v-11.3h2.2v4.1c0.7-0.8 1.5-1.1 2.4-1.1 1 0 1.8 0.4 2.5 1.1 0.7 0.7 1 1.8 1 3.1 0 1.4-0.3 2.5-1 3.2 -0.7 0.8-1.5 1.1-2.4 1.1 -0.5 0-0.9-0.1-1.4-0.3 -0.5-0.2-0.8-0.6-1.2-1v1.2H273.7zM275.9 247.2c0 0.8 0.1 1.5 0.4 1.9 0.4 0.6 0.9 0.9 1.5 0.9 0.5 0 0.9-0.2 1.2-0.6 0.3-0.4 0.5-1 0.5-1.9 0-0.9-0.2-1.6-0.5-2 -0.3-0.4-0.8-0.6-1.3-0.6 -0.5 0-0.9 0.2-1.3 0.6C276.1 245.8 275.9 246.4 275.9 247.2z"></path><path class="st3" d="M287.3 247.8l2.2-0.2c0.1 0.7 0.4 1.3 0.8 1.6 0.4 0.4 1 0.5 1.6 0.5 0.7 0 1.3-0.2 1.7-0.5 0.4-0.3 0.6-0.7 0.6-1.1 0-0.3-0.1-0.5-0.2-0.7 -0.2-0.2-0.4-0.3-0.8-0.5 -0.3-0.1-0.9-0.3-1.8-0.5 -1.2-0.3-2.1-0.7-2.6-1.1 -0.7-0.6-1-1.4-1-2.3 0-0.6 0.2-1.1 0.5-1.6 0.3-0.5 0.8-0.9 1.4-1.1 0.6-0.3 1.4-0.4 2.2-0.4 1.4 0 2.5 0.3 3.2 0.9 0.7 0.6 1.1 1.4 1.1 2.5l-2.3 0.1c-0.1-0.6-0.3-1-0.6-1.3 -0.3-0.3-0.8-0.4-1.4-0.4 -0.7 0-1.2 0.1-1.6 0.4 -0.2 0.2-0.4 0.4-0.4 0.7 0 0.3 0.1 0.5 0.3 0.7 0.3 0.2 1 0.5 2.1 0.8 1.1 0.3 1.9 0.5 2.5 0.8 0.5 0.3 0.9 0.7 1.2 1.1 0.3 0.5 0.5 1.1 0.5 1.8 0 0.6-0.2 1.3-0.5 1.8 -0.4 0.6-0.9 1-1.5 1.3 -0.7 0.3-1.5 0.4-2.5 0.4 -1.4 0-2.5-0.3-3.3-1C287.9 250 287.4 249.1 287.3 247.8z"></path><path class="st3" d="M298.4 242.2v-2h2.2v2H298.4zM298.4 251.5v-8.2h2.2v8.2H298.4z"></path><path class="st3" d="M306.5 243.3v1.7H305v3.3c0 0.7 0 1.1 0 1.2 0 0.1 0.1 0.2 0.2 0.3 0.1 0.1 0.2 0.1 0.4 0.1 0.2 0 0.5-0.1 0.9-0.2l0.2 1.7c-0.5 0.2-1.1 0.3-1.7 0.3 -0.4 0-0.7-0.1-1.1-0.2 -0.3-0.1-0.5-0.3-0.7-0.5 -0.1-0.2-0.2-0.5-0.3-0.8 0-0.3-0.1-0.8-0.1-1.5V245h-1v-1.7h1v-1.6l2.2-1.3v2.9H306.5z"></path><path class="st3" d="M312.7 248.9l2.2 0.4c-0.3 0.8-0.7 1.4-1.3 1.8 -0.6 0.4-1.3 0.6-2.2 0.6 -1.4 0-2.5-0.5-3.2-1.4 -0.5-0.7-0.8-1.7-0.8-2.8 0-1.4 0.4-2.4 1.1-3.2 0.7-0.8 1.6-1.2 2.7-1.2 1.2 0 2.2 0.4 2.9 1.2 0.7 0.8 1 2 1 3.7h-5.4c0 0.6 0.2 1.1 0.5 1.5 0.3 0.4 0.7 0.5 1.2 0.5 0.3 0 0.6-0.1 0.9-0.3C312.4 249.6 312.6 249.3 312.7 248.9zM312.8 246.7c0-0.6-0.2-1.1-0.5-1.4 -0.3-0.3-0.7-0.5-1.1-0.5 -0.5 0-0.9 0.2-1.2 0.5 -0.3 0.3-0.5 0.8-0.5 1.4H312.8z"></path><path class="st4" d="M129.9 64c-0.5 0.7-1 1.4-1.5 2.2 1.5 0 2.3-0.8 3.6-1 0.7 1.2-1.4 1.4-1.4 2.7 1.4 0.1 2.9-1.6 3.6-0.5 0.3 1-1.8 1.6-2.2 2.7 0.4 0.2 2.5-0.1 3.6 0 2.1 6.7-3.5 11.9-8.9 12.3 -8.5 0.7-15.6-8-9.9-15.2C119.2 64.2 124.5 62.2 129.9 64z"></path><path class="st5" d="M200.2 165.1c-0.3 0.8-2.1 0.2-3.1 0 -7-1.5-15.1-3.9-22-6 -15.9-5-30.8-11.1-42.5-21.3 -6.2-5.4-12.5-13.3-11.6-24.7 0.2-2.6 1.2-4.7 1.7-7 0.4-2 0.3-3.7 0.7-5.3 2.6-10.2 10.4-18.1 18.4-23.9 9.1-6.7 20.5-13 35.1-12.6 -3.5 2.3-7.6 4-10.9 6.5 4.4-0.9 10-2.2 15-1 -12.5 6.7-25.2 13.2-32.9 25.6 -2.4 3.8-5 9.8-4.4 15 0.3 2.8 2.2 6 3.9 8.7 10.8 17.9 29.8 28.3 49.6 37 -8.7-1.3-17.5-4.6-25.9-7 -0.2 0-0.2-0.2-0.5-0.2 7.5 5.5 16.3 10.7 25.6 14.5C197.6 163.9 199.3 163.9 200.2 165.1zM163 72.7c-1.3 0.4-2.6 1.9-3.9 2.9 -7.4 5.9-15.7 14.4-16.4 25.9 -0.1 1.4-0.3 2.9 0.5 4.3 1.5-9.9 7.4-16 13.3-21.5 6-5.6 13.6-9.8 21-14C172.2 70.2 167.1 71.4 163 72.7zM133 136.8c14.9 13.1 38.8 20.7 59.2 26.1 0.4 0.1 0.6-0.3 0-0.2 -6.8-3.3-13.8-7.1-19.8-11.1 -2.1-1.4-4-3.3-6-4.3 -1.1-0.6-2.7-0.7-3.9-1.2 -3.6-1.5-6.9-3.2-10.4-4.8 -13.6-6.6-26.1-14.7-29.7-31.4C120.1 122.5 126.3 130.9 133 136.8z"></path></svg></div> </div> <div class="nk-text">Explore 5 lakh+ jobs on India's number 1 job site</div> <div id="circleG"> <div class="circleG" id="circleG_1"></div> <div class="circleG" id="circleG_2"></div> <div class="circleG" id="circleG_3"></div> <div class="circleG" id="circleG_4"></div> <div class="circleG" id="circleG_5"></div> </div> </div> </div> <link href="//static.naukimg.com/s/7/109/c/main.16f16519.min.css" media="all" rel="stylesheet" type="text/css"/> <script id="ubScript"> (function() { var queuedSuperProps = []; var queuedEvents = []; window.ub = { track: function(eventName, eventProps) { queuedEvents.push([eventName, eventProps]) }, register: function(properties) { queuedSuperProps.push(properties); } };
            var script = document.createElement("script"); script.async = true;script.trackTdsCookie=true,script.fingerprint=false,script.src = "//static.naukri.com/s/0/1/j/ub_v1.13.min.js";script.onload = function() { ub.init({
                   trackTdsCookie : true, beaconUrl : "https://logs.naukri.com/uba", bulkBeaconUrl : "https://logs.naukri.com/collectorapi/v1/uba/bulk", queuedEvents:queuedEvents, queuedSuperProps:queuedSuperProps,  tenantId:'1' ,   subclientTenantId:'0' , autoTrack:false, blackList:
                []
            }); };document.head.appendChild(script);}()); ub.register({ appId:109, pageName: "jobsearch",  tenantId:'1' ,  subclientTenantId:'0' , }); </script> <script>
    //hack of IE and safari bug : Super expression must either be null or a function, not undefined
    if (typeof HTMLElement !== 'function') {
        var _HTMLElement = function() {};
        _HTMLElement.prototype = HTMLElement.prototype;
        HTMLElement = _HTMLElement;
    }
    </script> <script crossorigin="anonymous" defer="" src="//static.naukimg.com/s/7/109/j/vendors~main.52ca68a2.min.js" type="text/javascript"></script> <script crossorigin="anonymous" defer="" src="//static.naukimg.com/s/7/109/j/main.f485e71d.min.js" type="text/javascript"></script> <script src="//static.naukimg.com/s/0/0/j/nLoggerJB_v3.2.min.js" type="text/javascript"></script> <script type="text/javascript">
   window.nLogger && nLogger.init({ "tag": "revamped_srp", "nLogger": { "beaconUrl": "https:\/\/lg.naukri.com\/uba", "eventName": "newMonkError", "deviceType": "SERVER" }, "boomerang": { "logBW": false, "beaconUrl": "https:\/\/lg.naukri.com\/uba", "imageURL": "\/\/static.naukimg.com\/s\/0\/0\/i\/", "eventName": "newMonkPerformance", "deviceType": "SERVER" }, "tenantId": 1, "appId": 109, "userIP": "2045974146" });
 </script> <script type="text/javascript">
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.defer = 'defer';
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NX744H');
    </script> <script defer="" src="https://www.googletagservices.com/tag/js/gpt.js"></script> <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script> <script src="/1Dtte72tOYk86/pxjxuKMguW-d/zI/9u5pLDV8JX/cCYfZCEC/YR/hkAS0CUzc" type="text/javascript"></script></body> </html>

In [274]:
# Find the job listings
job_listings = soup.find_all('div', class_='jobTuple')

In [284]:
titles = []
locations = []
companies = []
exp = []

In [285]:
# Scrape the data for the first 10 job results

# scrap title
for i in soup.find_all('a',class_ ="title ellipsis"): #put underscore over here 'classs_', 'a' is an tag name
    titles.append(i.text) #we have to use "text" then only we can get names of rest otherwise it return tags and classes 

    #   scrap location  
for j in soup.find_all('li',class_ ="ellipsis fleft locWdth"):
     locations.append(j.text)
        
  #scrap company names      
for k in soup.find_all('a',class_ ="subTitle ellipsis fleft"): 
    companies.append(k.text)
    
#scrap experiance
for l in soup.find_all('span',class_ ="ellipsis fleft expwdth"):
    exp.append(l.text)

In [286]:
# create DF
df = pd.DataFrame({})
df['Job Title']=titles[:10]
df['Location']=locations[:10]
df['Company']=companies[:10]
df['Experience Required']=exp[:10]

In [ ]:
# dont understand why data not scraped

In [287]:
df

Empty DataFrame
Columns: [Job Title, Location, Company, Experience Required]
Index: []

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com.

In [103]:
driver4 = webdriver.Chrome(r"chromedriver.exe")

In [104]:
url="https://www.flipkart.com/"
driver4.get(url)

In [105]:
search= driver4.find_element(By.XPATH,"//input[@type='text']")
search

In [106]:
search.send_keys('sunglasses')

In [108]:
# click on search button
btn =driver4.find_element(By.CLASS_NAME, 'L0Z3Pu')
btn.click()

In [109]:
Brand=[]
Price=[]
Product=[]
Discount=[]

In [111]:
#scrap brand name,product description, price,and discount

for i in range(3):
    b_name =driver4.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    desc =driver4.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    cost =driver4.find_elements(By.XPATH,"//div[@class='_25b18c']")
    dist =driver4.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        Brand.append(j.text)
    Brand[:100]    
    
    
    
    for k in desc:
        Product.append(k.text)
    Product[:100] 
    
    
    for l in cost:
        Price.append(l.text)
    Price[:100] 
    
    
    for m in dist:
        Discount.append(m.text)
    Discount[:100]

In [112]:
print(len(Brand[:100])),print(len(Price[:100])),print(len(Product[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [114]:
# create DF
df3 = pd.DataFrame({})
df3['Brand']=Brand[:100]
df3['Price']=Price[:100]
df3['Product']=Product[:100]
df3['Discount']=Discount[:100]

In [115]:
df3

,Brand,Price,Product,Discount
0,OAKLEY,"₹9,119₹14,49037% off",Rectangular Sunglass,37% off
1,OAKLEY,"₹7,499₹11,39034% off",Rectangular Sunglass,34% off
2,SRPM,"₹216₹1,29983% off",UV Protection Wayfarer Sunglasses (50),83% off
3,Elligator,₹213₹59964% off,"UV Protection Cat-eye, Retro Square, Oval, Rou...",64% off
4,Fastrack,₹499₹89944% off,UV Protection Rectangular Sunglasses (Free Size),44% off
...,...,...,...,...
95,style guru,"₹239₹1,59985% off",UV Protection Wayfarer Sunglasses (56),55% off
96,Elligator,"₹109₹1,29991% off",UV Protection Over-sized Sunglasses (65),85% off
97,Fastrack,"₹423₹1,99978% off",UV Protection Retro Square Sunglasses (Free Size),43% off
98,Fastrack,"₹179₹1,29986% off",UV Protection Wayfarer Sunglasses (Free Size),44% off
99,VINCENT CHASE,"₹268₹1,59983% off",UV Protection Wayfarer Sunglasses (Free Size),62% off

In [116]:
driver4.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [117]:
#connect to driver
driver5 = webdriver.Chrome(r"chromedriver.exe")

In [118]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market"
driver5.get(url)

In [119]:
Rating = []
Review_summary = []
Full_review = []

In [128]:
# scrap review data

for prod in range(3):
    rate = driver5.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')  
    review = driver5.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    full_rev = driver5.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')

    for i in rate:  
        Rating.append(i.text)
    Rating[:100]
    
# Reviews rating
    for j in review :
        Review_summary.append(j.text)    
    Review_summary[:100]
    
#full review
    for k in full_rev:
        Full_review.append(k.text)
      
    Full_review[:100]

In [129]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [130]:
df4 = pd.DataFrame({})
df4['Rating']=Rating[:100]
df4['Review_summary']=Review_summary[:100]
df4['Full_review']=Full_review[:100]

In [131]:
df4

,Rating,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [132]:
driver5.close()

# Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [133]:
driver6 = webdriver.Chrome(r"chromedriver.exe")

In [134]:
url = 'https://www.flipkart.com'
driver6.get(url)

In [136]:
prod= driver6.find_element(By.XPATH,"//input[@type='text']")
prod.send_keys('sneakers')

In [137]:
btn =driver6.find_element(By.CLASS_NAME, 'L0Z3Pu')
btn.click()

In [138]:
Brand = []
ProductDescription = []
Price = []

In [141]:
for sneak in range(3):
    b_name = driver6.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')  
    desc = driver6.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    cost = driver6.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

    for i in b_name:  
        Brand.append(i.text)
    Brand
    
# Reviews rating
    for j in desc :
        ProductDescription.append(j.text)    
    ProductDescription
    
#full review
    for k in cost:
        Price.append(k.text)      
    Price

In [142]:
print(len(Brand),len( ProductDescription),len(Price))

240 234 240

In [143]:
df5 = pd.DataFrame({})
df5['Brand']=Brand[:100]
df5['ProductDescription']=ProductDescription[:100]
df5['Price']=Price[:100]

In [144]:
df5

,Brand,ProductDescription,Price
0,K- FOOTLANCE,Sneakers For Men,₹299
1,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹279
2,Labbin,Sneakers For Men,₹349
3,PUMA,Buzz Sneakers For Men,"₹1,149"
4,asian,"Thunder-01 White Color Change Sneakers,Casuals...",₹714
...,...,...,...
95,PUMA,2 Combo Sneaker Shoes Sneakers For Men,"₹4,421"
96,Krors,Sneakers For Women,₹599
97,BRUTON,HRXLB-2B Sneakers For Men,₹399
98,Kraasa,Sneakers For Men,₹299
99,HRX by Hrithik Roshan,Sneakers For Men,"₹1,109"

In [145]:
driver6.close()

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

In [148]:
driver7= webdriver.Chrome(r"chromedriver.exe")

In [149]:
url=" https://www.amazon.in "
driver7.get(url)

In [150]:
prod= driver7.find_element(By.XPATH,"//input[@type='text']")
prod.send_keys('Laptop')

In [153]:
btn =driver7.find_element(By.XPATH, '//input[@id="nav-search-submit-button"]')
btn.click()

Filter not understand not able to take path

In [158]:
Title = []
Ratings = []
Price = []

In [159]:
titles = driver7.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]') 

for i in titles[0:10]: 
    tag = i.text  
    Title.append(tag)


#Scraping Job location from given page
rating = driver7.find_elements(By.XPATH, '//span[@class="a-icon-alt"]') 

for j in rating[0:10]:  
    r1 = j.text
    Ratings.append(r1)
    
#Scraping company name   
price = driver7.find_elements(By.XPATH, '//span[@class="a-price-whole"]')  

for k in price[0:10]:  
    p = k.text  
    Price.append(p)

# Q8:Write a python program to scrape data for Top 1000 Quotes of All Time.

In [251]:
driver8= webdriver.Chrome(r"chromedriver.exe")

#open wesite which want to scrap
url="http://www.azquotes.com"
driver8.get(url)

In [252]:
# Click on the "Top Quotes" link
top_quotes_link = driver8.find_element(By.LINK_TEXT, 'TOP QUOTES')
top_quotes_link.click()

In [253]:
Quotes = []
Author = []
Type_of_quote = []

In [264]:
quotes = driver8.find_elements(By.XPATH, '//a[@class ="title"]')
for i in quotes:
    quo = i.text
    Quotes.append(quo)

        #author
author = driver8.find_elements(By.XPATH, '//div[@class="author"]')
for j in author:
    auth = j.text
    Author.append(auth)

    #type of quotes
quote_type = driver8.find_elements(By.XPATH, '//div[@class="tags"]')
for k in quote_type:
    ty = k.text
    Type_of_quote.append(ty)

In [265]:
print(len(Quotes),len(Author),len(Type_of_quote))

1100 1100 1100

In [266]:
# create df
df8 = pd.DataFrame({})
df8['Quotes']=Quotes[:1000]
df8['Author Names']=Author[:1000]
df8['Types of quote']=Type_of_quote[:1000]

In [267]:
df8

,Quotes,Author Names,Types of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India

In [219]:
# from selenium import webdriver

from selenium.webdriver.chrome.service import Service

driver =webdriver.Chrome(r"chromedriver.exe")

#  Get the webpage
url = "https://www.jagranjosh.com/"
driver.get(url)

In [220]:
# Click on the GK option

gk_link = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//a[contains(text(), "GK")]')))
driver.execute_script("arguments[0].click();", gk_link)

In [221]:
# Click on the List of all Prime Ministers of India
pm_link = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.LINK_TEXT, 'List of all Prime Ministers of India')))
driver.execute_script("arguments[0].scrollIntoView(true);", pm_link)
driver.execute_script("arguments[0].click();", pm_link)

In [222]:
#create empty lists to store data
Name =[]
Born_Dead = []
Term = []
Remark = []

In [223]:
#scrap data from table of webpage

table = driver.find_element(By.CSS_SELECTOR, '.table-box')
rows = table.find_elements(By.TAG_NAME, 'tr')
for row in rows[1:]:  # Skipping the header row
    columns = row.find_elements(By.TAG_NAME, 'td')
    name = columns[1].text.strip()
    Name.append(name)
    born_dead = columns[2].text.strip()
    Born_Dead.append(born_dead)
    term = columns[3].text.strip()
    Term.append(term)
    remarks = columns[0].text.strip()
    Remark.append(remarks)

In [224]:
df = pd.DataFrame({'Name':Name[:10],'Born_Dead':Born_Dead[:10],'Term':Term[10],'Remark':Remark[:10]})

In [225]:
df

,Name,Born_Dead,Term,Remark
0,Jawahar Lal Nehru,(1889–1964),10 November 1990 to 21 June 1991\n223 days,1.
1,Gulzarilal Nanda (Acting),(1898-1998),10 November 1990 to 21 June 1991\n223 days,2.
2,Lal Bahadur Shastri,(1904–1966),10 November 1990 to 21 June 1991\n223 days,3.
3,Gulzari Lal Nanda (Acting),(1898-1998),10 November 1990 to 21 June 1991\n223 days,4.
4,Indira Gandhi,(1917–1984),10 November 1990 to 21 June 1991\n223 days,5.
5,Morarji Desai,(1896–1995),10 November 1990 to 21 June 1991\n223 days,6.
6,Charan Singh,(1902–1987),10 November 1990 to 21 June 1991\n223 days,7.
7,Indira Gandhi,(1917–1984),10 November 1990 to 21 June 1991\n223 days,8.
8,Rajiv Gandhi,(1944–1991),10 November 1990 to 21 June 1991\n223 days,9.
9,V. P. Singh,(1931–2008),10 November 1990 to 21 June 1991\n223 days,10.

In [226]:
driver.close()

# Q10 Write a python program to display list of 50 Most expensive cars in the world

In [171]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#  Get the webpage
url = "https://www.motor1.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [176]:
#  Search for '50 most expensive cars' using URL parameter
search_url = "https://www.motor1.com/features/456017/most-expensive-cars-in-the-world/"
response = requests.get(search_url)
soup = BeautifulSoup(response.text, 'html.parser')

In [177]:
#  Scraping the data and creating the dataframe
car_list = []
price_list = []

In [178]:
cars = soup.find_all('div', {'class': 'gallery-item__body'})
for car in cars:
    name = car.find('h3').text.strip()
    price = car.find('span', {'class': 'price'}).text.strip()
    car_list.append(name)
    price_list.append(price)

In [179]:
df = pd.DataFrame({'Car Name': car_list, 'Price': price_list})
df

Empty DataFrame
Columns: [Car Name, Price]
Index: []