# Q1.Scrape the details of most viewed videos on YouTube from Wikipedia.

In [1]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the most viewed videos
table = soup.find("table", {"class": "wikitable sortable"})

# Iterate over each row in the table (excluding the header row)
rows = table.find_all("tr")[1:]
for row in rows:
    try:
        # Get the columns for each row
        columns = row.find_all("td")

        # Extract the required details
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        artist = columns[2].text.strip()
        upload_date = columns[4].text.strip()
        views = columns[3].text.strip()

        # Print the details
        print("Rank:", rank)
        print("Name:", name)
        print("Artist:", artist)
        print("Upload Date:", upload_date)
        print("Views:", views)
        print()

    except IndexError:
        # Handle the case when the number of columns is insufficient
        print("Error: Insufficient columns in a row")
        continue

Rank: 1.
Name: "Baby Shark Dance"[6]
Artist: Pinkfong Baby Shark - Kids' Songs & Stories
Upload Date: June 17, 2016
Views: 12.85

Rank: 2.
Name: "Despacito"[9]
Artist: Luis Fonsi
Upload Date: January 12, 2017
Views: 8.16

Rank: 3.
Name: "Johny Johny Yes Papa"[16]
Artist: LooLoo Kids
Upload Date: October 8, 2016
Views: 6.70

Rank: 4.
Name: "Bath Song"[17]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 2, 2018
Views: 6.20

Rank: 5.
Name: "Shape of You"[18]
Artist: Ed Sheeran
Upload Date: January 30, 2017
Views: 6.00

Rank: 6.
Name: "See You Again"[21]
Artist: Wiz Khalifa
Upload Date: April 6, 2015
Views: 5.89

Rank: 7.
Name: "Phonics Song with Two Words"[26]
Artist: ChuChu TV
Upload Date: March 6, 2014
Views: 5.30

Rank: 8.
Name: "Wheels on the Bus"[27]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 24, 2018
Views: 5.24

Rank: 9.
Name: "Uptown Funk"[28]
Artist: Mark Ronson
Upload Date: November 19, 2014
Views: 4.92

Rank: 10.
Name: "Learning Colors – Colorful Eggs on a Farm"[29]
Artist: Miroshka TV
Upload Date: February 27, 2018
Views: 4.89

Rank: 11.
Name: "Gangnam Style"[30]
Artist: Psy
Upload Date: July 15, 2012
Views: 4.80

Rank: 12.
Name: "Masha and the Bear – Recipe for Disaster"[35]
Artist: Get Movies
Upload Date: January 31, 2012
Views: 4.55

Rank: 13.
Name: "Dame Tu Cosita"[36]
Artist: El Chombo
Upload Date: April 5, 2018
Views: 4.35

Rank: 14.
Name: "Axel F"[37]
Artist: Crazy Frog
Upload Date: June 16, 2009
Views: 3.91

Rank: 15.
Name: "Sugar"[38]
Artist: Maroon 5
Upload Date: January 14, 2015
Views: 3.87

Rank: 16.
Name: "Roar"[39]
Artist: Katy Perry
Upload Date: September 5, 2013
Views: 3.80

Rank: 17.
Name: "Counting Stars"[40]
Artist: OneRepublic
Upload Date: May 31, 2013
Views: 3.79

Rank: 18.
Name: "Sorry"[41]
Artist: Justin Bieber
Upload Date: October 22, 2015
Views: 3.66

Rank: 19.
Name: "Baa Baa Black Sheep"[42]
Artist: Cocomelon – Nursery Rhymes
Upload Date: June 25, 2018
Views: 3.64

Rank: 20.
Name: "Thinking Out Loud"[43]
Artist: Ed Sheeran
Upload Date: October 7, 2014
Views: 3.60

Rank: 21.
Name: "Waka Waka (This Time for Africa)"[44]
Artist: Shakira
Upload Date: June 4, 2010
Views: 3.59

Rank: 22.
Name: "Dark Horse"[45]
Artist: Katy Perry
Upload Date: February 20, 2014
Views: 3.52

Rank: 23.
Name: "Lakdi Ki Kathi"[46]
Artist: Jingle Toons
Upload Date: June 14, 2018
Views: 3.48

Rank: 24.
Name: "Faded"[47]
Artist: Alan Walker
Upload Date: December 3, 2015
Views: 3.45

Rank: 25.
Name: "Perfect"[48]
Artist: Ed Sheeran
Upload Date: November 9, 2017
Views: 3.45

Rank: 26.
Name: "Let Her Go"[49]
Artist: Passenger
Upload Date: July 25, 2012
Views: 3.44

Rank: 27.
Name: "Girls Like You"[50]
Artist: Maroon 5
Upload Date: May 31, 2018
Views: 3.42

Rank: 28.
Name: "Humpty the train on a fruits ride"[51]
Artist: Kiddiestv Hindi – Nursery Rhymes & Kids Songs
Upload Date: January 26, 2018
Views: 3.41

Rank: 29.
Name: "Lean On"[52]
Artist: Major Lazer
Upload Date: March 22, 2015
Views: 3.38

Rank: 30.
Name: "Bailando"[53]
Artist: Enrique Iglesias
Upload Date: April 11, 2014
Views: 3.38

Error: Insufficient columns in a row

In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
# Q2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.

In [3]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [8]:
driver = webdriver.Chrome(r"chromedriver.exe")


# Open the BCCI website
driver.get('https://www.bcci.tv/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\4276506912.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"chromedriver.exe")

In [9]:
page = driver.find_element(By.XPATH,'//li[@class="nav-item"]//a')
page.click()

In [17]:
title_elements = driver.find_elements(By.XPATH, '//div[@class="match-card-top"]//h5')
#no need to append ...using list comphrension
Match_Title = [element.text for element in title_elements]

In [11]:
place_elements = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
Place = [element.text for element in place_elements]

In [12]:
series_elements = driver.find_elements(By.XPATH, '//div[@class="match-card-middle d-flex"]')
Series = [element.text for element in series_elements]

In [13]:
date_elements = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
Date = [element.text for element in date_elements]

In [14]:
time_elements = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
Time = [element.text for element in time_elements]

In [18]:
df=pd.DataFrame([])
df['Title']=Match_Title
df['Series']=Series
df['Place']=Place
df['Date']=Date
df['Time']=Time

In [19]:
df

,Title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",9 JUL 2023,1:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",11 JUL 2023,1:30 PM IST
2,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,"Windsor Park,",12 JUL 2023,7:30 PM IST
3,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",13 JUL 2023,1:30 PM IST
4,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",16 JUL 2023,9:00 AM IST
5,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",19 JUL 2023,9:00 AM IST
6,INDIA TOUR OF WEST INDIES 2023,West Indies\nvs\nIndia,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
7,INDIA WOMEN TOUR OF BANGLADESH 2023,Bangladesh Women\nvs\nIndia Women,"Shere Bangla National Stadium, Mirpur,",22 JUL 2023,9:00 AM IST

In [20]:
driver.close()

In [ ]:
# Q3.Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.

In [21]:
driver3 = webdriver.Chrome(r"chromedriver.exe")

driver3.get('http://statisticstimes.com/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\2000016552.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver3 = webdriver.Chrome(r"chromedriver.exe")

In [22]:
Rank = []
State = []
Share = []
GDP = []
GSDP_cur19_20 = []
GSDP_cur18_19 = []

In [25]:
economy = driver3.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')       # Locating page foe top videos by xpath
economy.click()

In [26]:
ind = driver3.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')       # Locating page foe top videos by xpath
ind.click()

In [27]:
gdp = driver3.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       # Locating page foe top videos by xpath
gdp.click()

In [28]:
rank = driver3.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [29]:
state = driver3.find_elements(By.XPATH,'//td[@class="name"]')
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)

In [30]:
share = driver3.find_elements(By.XPATH,'//td[@class="data"]')
for i in share:
    if i.text is None:
        Share.append('--')
    else:
        Share.append(i.text)

In [31]:
gdp = driver3.find_elements(By.XPATH,'//tr[@class="odd"]//td[6]')
for i in gdp:
    if i.text is None:
        GDP.append('--')
    else:
        GDP.append(i.text)

In [32]:
gsdp1 = driver3.find_elements(By.XPATH,'//tr[@class="odd"]//td[3]')
for i in gsdp1:
    if i.text is None:
        GSDP_cur19_20.append('--')
    else:
        GSDP_cur19_20.append(i.text)

In [33]:
gsdp2 = driver3.find_elements(By.XPATH,'//tr[@class="odd"]//td[4]')
for i in gsdp2:
    if i.text is None:
        GSDP_cur18_19.append('--')
    else:
        GSDP_cur18_19.append(i.text)

In [34]:
df2 = pd.DataFrame([])
df2['Rank'] = Rank[:30]
df2['State'] = State[:30]
df2['Share'] = Share[:30]
df2['GDP'] = GDP[:30]
df2['GSDP_cur(19-20)'] = GSDP_cur19_20[:30]
df2['GSDP_cur(18-19)'] = GSDP_cur18_19[:30]

In [35]:
df2

,Rank,State,Share,GDP,GSDP_cur(19-20),GSDP_cur(18-19)
0,1,Maharashtra,-,399.921,-,"2,632,792"
1,2,Tamil Nadu,13.94%,240.726,"1,687,818","1,584,764"
2,3,Uttar Pradesh,399.921,226.806,"1,631,977","1,493,127"
3,4,Gujarat,-,143.179,"1,020,989","942,586"
4,5,Karnataka,"2,039,074",130.791,"969,604","861,031"
5,6,West Bengal,"1,845,853",118.733,-,"781,653"
6,7,Rajasthan,8.63%,111.519,"831,610","734,163"
7,8,Andhra Pradesh,247.629,79.957,"574,760","526,376"
8,9,Telangana,"1,312,929",47.982,-,"315,881"
9,10,Madhya Pradesh,"1,215,307",45.145,"328,598","297,204"
10,11,Kerala,"1,687,818",23.690,-,"155,956"
11,12,Delhi,8.39%,11.115,"80,449","73,170"
12,13,Haryana,240.726,6.397,-,"42,114"
13,14,Bihar,"1,166,817",5.086,"36,572","33,481"
14,15,Punjab,"1,123,982",4.233,"31,790","27,870"
15,16,Odisha,-,3.737,-,"24,603"
16,17,Assam,7.96%,-,-,-
17,18,Chhattisgarh,228.290,-,-,"2,332,992"
18,19,Jharkhand,-,"1,015,735","1,495,758","1,404,761"
19,20,Uttarakhand,"1,186,379",-,-,"1,322,936"
20,21,Jammu & Kashmir,"1,631,977","630,693","916,014","845,247"
21,22,Himachal Pradesh,7.91%,"595,605","875,429","776,140"
22,23,Goa,226.806,-,-,"707,542"
23,24,Tripura,"1,156,039","514,983","755,790","666,075"
24,25,Chandigarh,"1,091,077","374,015","517,521","472,506"
25,26,Puducherry,"1,253,832",-,-,"282,782"
26,27,Meghalaya,5.77%,"210,837","288,041","266,537"
27,28,Sikkim,165.556,"107,171","143,063","133,303"
28,29,Manipur,"793,223","56,810","72,181","66,060"
29,30,Nagaland,"739,525",-,-,"37,571"

In [36]:
driver3.close()

In [ ]:
#Q4.Scrape the details of trending repositories on Github.com.

In [37]:
driver4 = webdriver.Chrome(r"chromedriver.exe")

driver4.get('https://github.com/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\584403100.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver4 = webdriver.Chrome(r"chromedriver.exe")

In [38]:
page = driver4.find_element(By.XPATH,'//li[3][@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"]') 
page.click()

In [39]:
trend = driver4.find_element(By.LINK_TEXT, "Trending")
trend.click()

In [40]:
Title=[]
Description = []
Language = []
Count = []

In [47]:
repo = driver4.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in repo:
    if i.text is None:
        Title.append('nan')
    else:
        Title.append(i.text)

In [48]:
print(Title)

['ChaoningZhang /', 'ramonvc /', 'THUDM /', 'PowerShell /', 'XingangPan /', 'hiyouga /', 'facebook /', 'THUDM /', 'practical-tutorials /', 'sohamkamani /', 'papers-we-love /', 'cvg /', 'turboderp /', 'fuqiuluo /', 'jasontaylordev /', 'toeverything /', 'ripienaar /', 'EbookFoundation /', 'chat2db /', 'PlexPt /', 'labmlai /', 'microsoft /', 'dragonflydb /', 'wgwang /', 'StanGirard /']

In [49]:
des = driver4.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in des:
    if i.text is None:
        Description.append('nan')
    else:
        Description.append(i.text)

In [50]:
lang = driver4.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in lang:
    if i.text is None:
        Language.append('nan')
    else:
        Language.append(i.text)

In [51]:
count = driver4.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in count:
    if i.text is None:
        Count.append('nan')
    else:
        Count.append(i.text)

In [52]:
df4 = pd.DataFrame([])
df4['Title'] = Title[:20]
df4['Description'] = Description[:20]
df4['Language'] = Language[:20]
df4['Count'] = Count[:20]

In [53]:
df4

,Title,Description,Language,Count
0,ChaoningZhang /,This is the offiicial code for Faster Segment ...,Jupyter Notebook,"1,492"
1,ramonvc /,GPT 3.5/4 with a Chat Web UI. No API key requi...,Python,301
2,THUDM /,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,Python,"1,557"
3,PowerShell /,PowerShell for every system!,C#,555
4,XingangPan /,Official Code for DragGAN (SIGGRAPH 2023),Python,"6,228"
5,hiyouga /,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,Python,"1,076"
6,facebook /,An open-source C++ library developed and used ...,C++,"39,013"
7,THUDM /,ChatGLM-6B: An Open Bilingual Dialogue Languag...,Python,"6,843"
8,practical-tutorials /,Curated list of project-based tutorials,Shell,"27,666"
9,sohamkamani /,An ultra-simplified explanation of design patt...,Jupyter Notebook,"2,852"
10,papers-we-love /,Papers from the computer science community to ...,Python,"1,669"
11,cvg /,LightGlue: Local Feature Matching at Light Speed,Kotlin,218
12,turboderp /,A more memory-efficient rewrite of the HF tran...,C#,"25,455"
13,fuqiuluo /,获取QQSign通过Unidbg,TypeScript,"5,235"
14,jasontaylordev /,Clean Architecture Solution Template for ASP.N...,HTML,"30,517"
15,toeverything /,There can be more than Notion and Miro. AFFiNE...,Java,"4,028"
16,ripienaar /,"A list of SaaS, PaaS and IaaS offerings that h...",Jupyter Notebook,"108,189"
17,EbookFoundation /,📚 Freely available programming books,JavaScript,"15,100"
18,chat2db /,🔥 🔥 🔥 An intelligent and versatile general-pur...,C++,"3,967"
19,PlexPt /,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,TypeScript,468

In [54]:
driver4.close()

In [ ]:
# Q5.Scrape the details of top 100 songs on billiboard.com.

In [55]:
driver5 = webdriver.Chrome(r"chromedriver.exe")

driver5.get(' https:/www.billboard.com/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\2522005584.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver5 = webdriver.Chrome(r"chromedriver.exe")

In [57]:
bill = driver5.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]')
bill.click()

In [58]:
Song_name = []
Artist = []
Last_rank = []
Peak_rank = []
Week_onboard = []

In [61]:
song =driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li//h3')
for i in song:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)

In [62]:
art = driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li//span')
for i in art:
    if i.text is None:
        Artist.append('--')
    else:
        Artist.append(i.text)

In [63]:
last = driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li[4]//span')
for i in last:
    if i.text is None:
        Last_rank.append('--')
    else:
        Last_rank.append(i.text)

In [64]:
peak = driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li[5]//span')
for i in peak:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)

In [65]:
week = driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li[6]//span')
for i in week:
    if i.text is None:
        Week_onboard.append('--')
    else:
        Week_onboard.append(i.text)

In [66]:
df5 = pd.DataFrame([])
df5['Song Name'] = Song_name[:100]
df5['Artist'] = Artist[:100]
df5['Last Week Rank'] = Last_rank[:100]
df5['Peak Rank'] = Peak_rank[:100]
df5['Week Onboard'] = Week_onboard[:100]

In [67]:
df5

,Song Name,Artist,Last Week Rank,Peak Rank,Week Onboard
0,One Thing At A Time,Morgan Wallen,1,1,16
1,The World EP.2 : Outlaw,1,,,1
2,A Gift & A Curse,1,-,2,1
3,Midnights,16,,,35
4,SOS,,-,3,28
...,...,...,...,...,...
95,Blonde,,,,335
96,beerbongs & bentleys,,54,2,269
97,Greatest Hits So Far...,,,,368
98,=,Bad Bunny,52,3,86
99,Gold: Greatest Hits,14,,,279

In [68]:
driver5.close()

In [ ]:
# Q6.Scrape the details of Highest sellingnovels.

In [69]:
driver6 = webdriver.Chrome(r"chromedriver.exe")

driver6.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\298265003.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver6 = webdriver.Chrome(r"chromedriver.exe")

In [70]:
Book_name = []
Author = []
Sold = []
Publisher = []
Genre = []

In [71]:
rows = driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr')

In [72]:
# Iterate over each row and extract the column of table
for row in rows:
    # Get the values from each column in the row
    columns = row.find_elements(By.TAG_NAME,'td')
    title = columns[1].text
    Book_name.append(title)
    author = columns[2].text
    Author.append(author)
    sold = columns[3].text
    Sold.append(sold)
    pub = columns[4].text
    Publisher.append(pub)
    gen = columns[5].text
    Genre.append(gen)

In [73]:
df6 = pd.DataFrame([])
df6['Book Name'] = Book_name[:30]
df6['Author'] = Author[:30]
df6['Volume Sales'] = Sold[:30]
df6['Publisher'] = Publisher[:30]
df6['Genre'] = Genre[:30]

In [74]:
df6

,Book Name,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction

In [75]:
driver6.close()

In [ ]:
# Q7.Scrape the details most watched tv series of all time from imdb.com

In [76]:
driver7 = webdriver.Chrome(r"chromedriver.exe")

driver7.get('https://www.imdb.com/list/ls095964455/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\3339606480.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver7 = webdriver.Chrome(r"chromedriver.exe")

In [77]:
Name = []
Span = []
Genre = []
Votes = []
Runtime = []

In [78]:
name = driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]//h3//a')
for i in name:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)

In [79]:
span = driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]//h3//span[2]')
for i in span:
    if i.text is None:
        Span.append('--')
    else:
        Span.append(i.text)

In [80]:
#scrap genre
gen = driver7.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[5]')
for i in gen:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [81]:
#scrap rating
Rat = []
rat = driver7.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in rat:
    if i.text is None:
        Rat.append('--')
    else:
        Rat.append(i.text)

In [82]:
# scrap vote
vote = driver7.find_elements(By.XPATH,'//div[@class="lister-item-content"]//p[4]//span[2]')
for i in vote:
    if i.text is None:
        Votes.append('--')
    else:
        Votes.append(i.text)

In [83]:
run = driver7.find_elements(By.XPATH,'//p[@class="text-muted text-small"]//span[3]')
for i in run:
    if i.text is None:
        Runtime.append('--')
    else:
        Runtime.append(i.text)

In [84]:
df7 = pd.DataFrame([])
df7['Series Name'] = Name[:100]
df7['Span'] = Span[:100]
df7['Genre'] = Genre[:100]
df7['Rating'] =Rat[:100]
df7['Votes'] = Votes[:100]
df7['Runtime'] = Runtime[:100]

In [85]:
df7

,Series Name,Span,Genre,Rating,Votes,Runtime
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,174,247",57 min
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",8.7,"1,252,048",51 min
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"1,032,745",44 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"303,648",60 min
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"262,810",43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"51,977",42 min
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"64,008",50 min
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",8.1,"208,593",42 min
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7,"43,409",45 min
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"260,329",572 min

In [86]:
driver7.close()

In [ ]:
# Q8.Details of Datasetsfrom UCI machine learning repositories.

In [87]:
driver8 = webdriver.Chrome(r"chromedriver.exe")

driver8.get('https://archive.ics.uci.edu/')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\3787116823.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver8 = webdriver.Chrome(r"chromedriver.exe")

In [88]:
data = driver8.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]//a')
data.click()

In [97]:
# scrap datasets
Dataset = []
sets = driver8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in sets:
    if i.text is None:
        Dataset.append('--')
    else:
        Dataset.append(i.text)

In [106]:
#scrap data type
d_type = []
type1 = driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]//span')
for i in type1:
    if i.text is None:
        d_type.append('--')
    else:
        d_type.append(i.text)

In [110]:
#classification...... task scrap
Task = []
task = driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]//span')
for i in task:
    if i.text is None:
        Task.append('--')
    else:
        Task.append(i.text)

In [107]:
#click scrap attribute type
Attribute_Type = []
att=driver8.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]//table//tbody//td[2]')
for i in att:
    if i.text is None :
        Attribute_Type.append("--") 
    else:
        Attribute_Type.append(i.text)

In [108]:
#scrap no of instances
Ins = []
ins=driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]//span')
for i in ins:
    if i.text is None :
        Ins.append("--") 
    else:
        Ins.append(i.text)

In [109]:
Att_no = []
atnum =driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]//span')
for i in atnum:
    if i.text is None :
        Att_no.append("--") 
    else:
        Att_no.append(i.text)

In [103]:
Year = []
yr =driver8.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]//table//tbody//td[3]')
for i in yr:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)

In [111]:
df8 = pd.DataFrame([])
df8['Dataset'] = Dataset[:15]
df8['Data Type']=d_type[:15]
df8['Task'] = Task[:15]
df8['Year'] = Year[:15]
df8['Attribute Type'] =Attribute_Type[:15] 
df8['No of Instance'] = Ins[:15]
df8['No of Attribute'] = Att_no[:15]

In [112]:
df8

,Dataset,Data Type,Task,Year,Attribute Type,No of Instance,No of Attribute
0,Iris,"Multivariate, Domain-Theory",Classification,7/1/1988,"Categorical, Real, Integer",125 Instances,
1,Heart Disease,"Multivariate, Time-Series","Regression, Clustering",7/1/1988,Real,2.08M Instances,9 Attributes
2,Adult,"Multivariate, Data-Generator",Classification,5/1/1996,"Categorical, Integer",,22 Attributes
3,Dry Bean Dataset,Multivariate,"Classification, Regression, Clustering",9/14/2020,N/A,10K Instances,22 Attributes
4,Diabetes,Multivariate,Classification,N/A,Categorical,226 Instances,69 Attributes
5,Rice (Cammeo and Osmancik),"Multivariate, Time-Series",Classification,7/1/1991,Real,6.65K Instances,15 Attributes
6,Wine,,,6/1/1997,Categorical,68.04K Instances,89 Attributes
7,Car Evaluation,"Multivariate, Data-Generator",Classification,11/1/1995,Categorical,,7 Attributes
8,Breast Cancer Wisconsin (Diagnostic),"Multivariate, Spatial",Classification,4/27/1987,Real,67.56K Instances,42 Attributes
9,Mushroom,"Multivariate, Data-Generator",Classification,12/1/1995,N/A,5K Instances,40 Attributes
10,Abalone,,,7/11/1988,,,
11,Breast Cancer,"Multivariate, Time-Series","Classification, Clustering",9/1/1987,"Categorical, Integer",10.3K Instances,561 Attributes
12,Glass Identification,Multivariate,"Classification, Clustering",11/17/1994,"Integer, Real",101.77K Instances,47 Attributes
13,Statlog (German Credit Data),Multivariate,Classification,5/1/1996,"Integer, Real",5.47K Instances,10 Attributes
14,Census Income,Multivariate,"Classification, Regression, Clustering",7/15/1992,"Categorical, Integer",299 Instances,13 Attributes

In [ ]:
# Q9. Scrap Naukri.com Detail

In [113]:
driver9 = webdriver.Chrome(r"chromedriver.exe")

driver9.get('https://www.naukri.com/hr-recruiters-consultants')

C:\Users\SNEHAL\AppData\Local\Temp\ipykernel_25528\3954587677.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver9 = webdriver.Chrome(r"chromedriver.exe")

In [114]:
search_button = driver9.find_element(By.XPATH, '//button[@class="nI-gNb-sb__icon-wrapper"]//span')
search_button.click()

In [115]:
text = driver9.find_element(By.XPATH,'//input[@class="suggestor-input "]')
text.send_keys('Data Science')

In [116]:
search = driver9.find_element(By.XPATH,'//span[@class="ni-gnb-icn ni-gnb-icn-search"]')
search.click()

In [117]:
Name = []
name = driver9.find_elements(By.XPATH,'//a[@class="title ellipsis"]') 
for i in name:
    Name.append(i.text)

In [118]:
Company = []
com = driver9.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]') 
for i in com:
    Company.append(i.text)

In [119]:
#scrap skill 
Skill = []
skill = driver9.find_elements(By.XPATH,'//ul[@class="tags has-description"]') 
for i in skill:
    Skill.append(i.text)

In [120]:
Location = []
loc = driver9.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') 
for i in loc:
    Location.append(i.text)

In [121]:
Requirement = []
req = driver9.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]') 
for i in req:
    Requirement.append(i.text)

In [122]:
df9 = pd.DataFrame([])
df9['Title'] = Name
df9['Company'] = Company
df9['Skills'] = Skill
df9['Location'] = Location
df9['Requirement']= Requirement

In [123]:
df9

,Title,Company,Skills,Location,Requirement
0,Data Science Engineer,Arbeit Associates,SQL\nPython\nAnalytics\nGoogle Analytics\nData...,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Minimum 3-7 years of experience working closel...
1,Sr Analyst - Data Science and Analytics,Transunion,Analytics\nFinance\nBusiness intelligence\nQua...,"Pune, Chennai","Here, we will not only understand your stats j..."
2,Manager/Sr. Manager - GPS Safety Data Sciences,Eli Lilly And Company,GPS\nOperations\nHealthcare\nSR\nDevelopment\n...,Bangalore/Bengaluru,"Bachelordegree within a health science, Mathem..."
3,Data Science Engineer,Bizongo,Vision\nAnalytics\nDeep Learning\nNetworking\n...,Bangalore/Bengaluru,Proven experience as a Machine Learning Engine...
4,Engineer II- Data Science & Analytics,Raytheon Technologies,Data Science\nstatistical modeling\nmachine le...,"Hybrid - Bangalore/ Bengaluru, Karnataka(Yelah...","Aftermarket & Sustainment Engineering (ASE), b..."
5,Data Science Engineer,Augusta Infotech,python\nnumpy\nmachine learning\ntensorflow\nP...,"Bangalore/ Bengaluru, Karnataka(Electronic City)",Data ScienceWe are looking for a highly motiva...
6,L&D Trainer - Python & Data Science/Data Analy...,AVE-Promagne Business Solutions,Data Analytics\nIT training\nTraining\nMachine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Any Graduate in IT / Computer Science, BTech /..."
7,Data Science Manager,Tredence,Data Science\nText Analytics\nNew business dev...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",. Bachelors or Masters degree in a quantitativ...
8,Data Science Engineer,Conneqt Digital,Data Science\nAzure\nArtificial Intelligence\n...,Hybrid - Bangalore/Bengaluru,Notice Period: Immediate Joiner (we are lookin...
9,Data Science Manager - Machine Learning/Predic...,HyrEzy Talent Solution,Data Science\nNeural networks\nDevelopment\nPr...,Bangalore/Bengaluru,They are seeking a Data Science Manager intere...
10,Senior Manager Data Science Global,Red Hat,Machine Learning\nMachine\nPython\nScience\nOp...,Bangalore/Bengaluru,"The Data Development, Insights & Strategy team..."
11,Unit Manager - Payments - Data Science/Senior ...,Bajaj Finserv Ltd.,DBMS\nPython\nArchitecture\nData management\nD...,Pune,"Bachelors Degree in computer science, Math, Ph..."
12,Senior Manager-Data Science,Ola,Data Science\nR\nNatural Language Processing\n...,Bangalore/Bengaluru,Founded in Jan 2011 by IIT Bombay alumni Bhavi...
13,Sr Programmer - Python / Data Science Developer,Ajanta Pharma,Data Modeling\nPython\nNumpy\nWeb technologies...,"Mumbai, Maharashtra, Mumbai Suburban, Maharashtra",Certification in data science would be and add...
14,Data Science Analyst,Koch Industries,Data Science\nSAS\nScience\nData analysis\nDat...,Bangalore/Bengaluru,3+ years of experience delivering results from...
15,AI and Data Science Engineer,Rtwo Healthcare Solutions Llp,Analytical\nData Science\nMonitoring\nHealthca...,Bangalore/Bengaluru,Bachelors or master s degree in computer scien...
16,Data Science Senior Analyst,Accenture,Data Science\nPredictive Modeling\nmachine lea...,Mumbai,Please note that this role may require you to ...
17,"Data Science, AI/ML Professional",QA InfoTech Pvt. Ltd,Cloud\nCloud computing\nData Science\nSimulati...,Bangalore/Bengaluru,R language experience is a must . Ability to l...
18,Data Science - AI/ML Professional,QA InfoTech Pvt. Ltd,Ml\nMySQL\nSDLC\nJIRA\nData Science\nCloud com...,Bangalore/Bengaluru,R language experience is a must . Ability to l...
19,"Data Science, AI/ML Professional",Zenq,Analysis\nArtificial Intelligence\nData analys...,Bangalore/Bengaluru,"7+ Year s Experience in Data Science, AI/ML Re..."

In [124]:
driver9.close()