# Q1.Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
soup = BeautifulSoup(page.content)

In [4]:
# Find all header tags (h1, h2, h3, h4, h5, h6) on the page
headers = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

In [5]:
# Extract the text from each header tag and store it in a list
header_texts = [header.get_text() for header in headers]

In [6]:
# Create a DataFrame from the list of header texts
df = pd.DataFrame(header_texts, columns=['Header'])

# Print the DataFrame
print(df)

                           Header
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

----------------------------------------------------------------------------------------------------------------------

Name=[]
name = soup.find_all('h3')
for i in name :
    mat = re.search(r'^(.*?)\(',i.text)
    if mat:
        Name.append(mat.group(1))

-------------------------------------------------------------------------------------------------------------------

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import selenium
from urllib.parse import urlparse, parse_qs
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import re

In [10]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

 Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [11]:
Team = []
Matches = []
Points = []
Rating = []

In [12]:
team = driver.find_elements(By.XPATH,'//span[@class="u-hide-phablet"]')
for i in team:
    Team.append(i.text)

In [13]:
match = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[3]')
for i in match:
    Matches.append(i.text)

In [14]:
point = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[4]')
for i in point:
    Points.append(i.text)

In [15]:
rat = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[5]')
for i in rat:
    Rating.append(i.text)

In [16]:
df1 = pd.DataFrame([])
df1['Team'] = Team[:10]
df1['Match'] =Matches[:10]
df1['Ponits'] = Points[:10]
df1['Ratings'] = Rating[:10]

In [17]:
df1

           Team Match Ponits Ratings
0     Australia    20  2,316     116
1      Pakistan    33  3,807     115
2         India    27  2,806     104
3   New Zealand    24  2,426     101
4       England    19  1,910     101
5  South Africa    25  2,451      98
6    Bangladesh    28  2,378      85
7     Sri Lanka    13  1,067      82
8   Afghanistan    32  2,201      69
9   West Indies    27  1,530      57

In [18]:
driver.close()

Top 10 ODI Batsmen along with the records of their team and rating.

In [19]:
driver1 = webdriver.Chrome(r"chromedriver.exe")
driver1.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [20]:
Batsman = []
Team = []
Rating = []

In [21]:
bat = driver1.find_elements(By.XPATH,'//td[@class="table-body__cell rankings-table__name name"]//a')
for i in bat:
    Batsman.append(i.text)

In [22]:
team = driver1.find_elements(By.XPATH,'//span[@class="table-body__logo-text"]')
for i in team:
    Team.append(i.text)

In [23]:
rat= driver1.find_elements(By.XPATH,'//td[@class="table-body__cell rating"]')
for i in rat:
    Rating.append(i.text)

In [24]:
df2 = pd.DataFrame([])
df2['Batsman'] = Batsman[:10]
df2['Team'] = Team[:10]
df2['Rating'] = Rating[:10]

In [25]:
df2

                 Batsman Team Rating
0  Rassie van der Dussen   SA    777
1           Fakhar Zaman  PAK    755
2            Imam-ul-Haq  PAK    745
3           Shubman Gill  IND    738
4           Harry Tector  IRE    726
5           David Warner  AUS    726
6            Virat Kohli  IND    719
7        Quinton de Kock   SA    718
8           Rohit Sharma  IND    707
9            Steve Smith  AUS    702

In [26]:
driver1.close()

In [27]:
driver2 = webdriver.Chrome(r"chromedriver.exe")
driver2.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [28]:
Bowlers = []
Team = []
Rating = []

In [29]:
boll = driver2.find_elements(By.XPATH,'//td[@class="table-body__cell rankings-table__name name"]')
for i in boll:
    Bowlers.append(i.text)

In [30]:
team = driver2.find_elements(By.XPATH,'//span[@class="table-body__logo-text"]')
for i in team:
    Team.append(i.text)

In [31]:
rat = driver2.find_elements(By.XPATH,'//td[@class="table-body__cell rating"]')
for i in rat:
    Rating.append(i.text)

In [32]:
df3 = pd.DataFrame([])
df3['Bowlers'] = Bowlers[:10]
df3['Team'] = Team[:10]
df3['Rating'] = Rating[:10]

In [33]:
df3

            Bowlers Team Rating
0    Mohammed Siraj  IND    691
1    Mitchell Starc  AUS    686
2        Matt Henry   NZ    667
3       Trent Boult   NZ    660
4        Adam Zampa  AUS    652
5       Rashid Khan  AFG    640
6    Shaheen Afridi  PAK    630
7  Mujeeb Ur Rahman  AFG    630
8     Mohammad Nabi  AFG    626
9         Mark Watt  SCO    621

In [34]:
driver2.close()

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [35]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

a]Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [36]:
Team = []
Match = []
Points = []
Rate = []

In [37]:
team = driver.find_elements(By.XPATH,'//span[@class="u-hide-phablet"]')
for i in team:
    Team.append(i.text)

In [38]:
mat = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[3]')
for i in mat:
    Match.append(i.text)

In [39]:
point = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[4]')
for i in point:
    Points.append(i.text)

In [40]:
rat = driver.find_elements(By.XPATH,'//tr[@class="table-body"]//td[5]')
for i in rat:
    Rate.append(i.text)

In [41]:
df = pd.DataFrame([])
df['Team'] = Team[:10]
df['Match'] = Match[:10]
df['Points'] = Points[:10]
df['Ratings'] = Rate[:10]

In [42]:
df

           Team Match Points Ratings
0     Australia    28  3,342     119
1       England    26  3,098     119
2  South Africa    27  2,820     104
3         India    28  2,688      96
4   New Zealand    29  2,743      95
5   West Indies    14    977      70
6    Bangladesh    12    820      68
7     Sri Lanka    12    806      67
8      Thailand    27  1,678      62
9      Pakistan    16    605      38

In [43]:
driver.close()

In [44]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [45]:
Play = []
Team = []
Rate = []

In [46]:
player = driver.find_elements(By.XPATH,'//td[@class="table-body__cell rankings-table__name name"]//a')
for i in player:
    Play.append(i.text)

In [47]:
team = driver.find_elements(By.XPATH,'//span[@class="table-body__logo-text"]')
for i in team:
    Team.append(i.text)

In [48]:
rate = driver.find_elements(By.XPATH,'//td[@class="table-body__cell rating"]')
for i in rate:
    Rate.append(i.text)

In [49]:
df = pd.DataFrame([])
df['Player'] = Play[:10]
df['Team'] = Team[:10]
df['Ratings'] = Rate[:10]

In [50]:
df

             Player Team Ratings
0       Beth Mooney  AUS     754
1   Laura Wolvaardt   SA     732
2    Natalie Sciver  ENG     731
3       Meg Lanning  AUS     717
4  Harmanpreet Kaur  IND     716
5   Smriti Mandhana  IND     714
6      Ellyse Perry  AUS     626
7   Stafanie Taylor   WI     618
8    Tammy Beaumont  ENG     595
9       Amelia Kerr   NZ     591

In [51]:
driver.close()

# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

In [52]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.cnbc.com/world/?region=world')

In [53]:
Head = []
Time = []
Link = []

In [54]:
#Scrap news Headlins
head = driver.find_elements(By.XPATH,'//a[@class="LatestNews-headline"]')
for i in head:
    Head.append(i.text)

In [55]:
time = driver.find_elements(By.XPATH,'//span[@class="LatestNews-wrapper"]')
for i in time:
    Time.append(i.text)

In [56]:
#Scrap Links of News
links = driver.find_elements(By.CLASS_NAME, "LatestNews-headline")
for i in links:
    href = i.get_attribute('href')
    Link.append(href)

In [57]:
Link

['https://www.cnbc.com/2023/07/07/we-would-not-stand-idly-by-lagarde-pledges-ecb-action-if-both-profits-and-wages-rise.html',
 'https://www.cnbc.com/2023/07/07/us-treasury-yields-investors-await-junes-jobs-report.html',
 'https://www.cnbc.com/2023/07/07/us-treasury-secretary-janet-yellen-meets-chinese-premier-li-qiang.html',
 'https://www.cnbc.com/2023/07/07/ukraine-war-live-updates-latest-news-on-russia-and-the-war-in-ukraine.html',
 'https://www.cnbc.com/2023/07/07/stock-markets-jobs-are-still-growing-uncontrollably.html',
 'https://www.cnbc.com/2023/07/07/yellen-says-shes-concerned-about-chinas-new-export-controls.html',
 'https://www.cnbc.com/2023/07/07/european-markets-set-to-open-higher-after-thursdays-sharp-losses.html',
 'https://www.cnbc.com/2023/07/07/yellens-visit-to-china-is-crucial-to-us-china-engagement-professor-says.html',
 'https://www.cnbc.com/2023/07/07/germanys-economy-is-stagnating-and-these-5-charts-show-how.html',
 'https://www.cnbc.com/2023/07/07/samsung-estimates-profits-plunged-96percent-in-the-second-quarter.html',
 'https://www.cnbc.com/2023/07/07/sri-lankas-central-bank-says-more-rate-cuts-needed-to-boost-economy.html',
 'https://www.cnbc.com/2023/07/07/zoom-optimistic-about-growth-in-asia-pacific-despite-weaker-outlook.html',
 'https://www.cnbc.com/2023/07/07/taiwan-conflict-will-hit-japan-philippines-south-korea-hardest-eiu.html',
 'https://www.cnbc.com/2023/07/07/nice-workplace-culture-may-be-toxic-says-nyu-professor-.html',
 'https://www.cnbc.com/2023/07/06/cramers-lightning-round-ferrari-is-a-true-juggernaut.html',
 'https://www.cnbc.com/2023/07/07/morgan-stanley-reveals-6-of-its-top-china-stocks-including-a-chipmaker-it-expects-to-soar-80percent.html',
 'https://www.cnbc.com/2023/07/07/jpmorgan-these-cheap-global-sectors-will-outperform.html',
 'https://www.cnbc.com/2023/07/07/ai-stocks-goldman-shares-stocks-with-exposure-to-generative-artificial-intelligence.html',
 'https://www.cnbc.com/2023/07/07/asia-markets.html',
 'https://www.cnbc.com/2023/07/06/levis-ceo-is-optimistic-about-business-in-china.html',
 'https://www.cnbc.com/2023/07/07/stock-markets-jobs-jobs-and-more-jobs.html',
 'https://www.cnbc.com/2023/07/06/cramer-dont-get-distracted-by-nonsense-watch-the-june-jobs-report.html',
 'https://www.cnbc.com/2023/07/07/why-japan-is-lagging-behind-in-generative-ai-and-creation-of-llms.html',
 'https://www.cnbc.com/2023/07/07/southeast-asias-ipo-market-an-investor-favorite-amid-global-headwinds-deloitte.html',
 'https://www.cnbc.com/2023/07/06/amazon-ceo-explains-how-the-company-will-compete-in-ai-race-.html',
 'https://www.cnbc.com/2023/07/06/microsoft-cfo-amy-hood-warned-employees-not-to-build-a-gold-toilet.html',
 'https://www.cnbc.com/2023/07/06/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2023/07/06/meta-touches-17-month-high-after-threads-launch-what-the-pros-are-saying.html',
 'https://www.cnbc.com/2023/07/06/containerships-diverted-from-vancouver-amid-port-strikes-headed-for-seattle.html',
 'https://www.cnbc.com/2023/07/06/fda-approves-alzheimers-drug-leqembi-from-eisai-biogen.html']

In [58]:
df = pd.DataFrame([])
df['Headlines'] = Head[:10]
df['Time'] = Time[:10]
df['News Links'] = Link[:10]

In [59]:
df

,Headlines,Time,News Links
0,‘We would not stand idly by’: Lagarde pledges ...,19 MIN AGO,https://www.cnbc.com/2023/07/07/we-would-not-s...
1,2-year Treasury yield dips as investors await ...,51 MIN AGO,https://www.cnbc.com/2023/07/07/us-treasury-yi...
2,U.S. Treasury Secretary Janet Yellen meets Chi...,58 MIN AGO,https://www.cnbc.com/2023/07/07/us-treasury-se...
3,U.S. considers sending cluster bombs to Ukrain...,3 HOURS AGO,https://www.cnbc.com/2023/07/07/ukraine-war-li...
4,CNBC Daily Open: Jobs are still growing uncont...,3 HOURS AGO,https://www.cnbc.com/2023/07/07/stock-markets-...
5,Yellen says she’s ‘concerned’ about China’s ne...,4 HOURS AGO,https://www.cnbc.com/2023/07/07/yellen-says-sh...
6,European markets soften after Thursday’s sharp...,4 HOURS AGO,https://www.cnbc.com/2023/07/07/european-marke...
7,Yellen’s visit to China is ‘crucial’ to U.S.-C...,4 HOURS AGO,https://www.cnbc.com/2023/07/07/yellens-visit-...
8,Germany’s economy is stagnating. And these 5 c...,5 HOURS AGO,https://www.cnbc.com/2023/07/07/germanys-econo...
9,Samsung estimates profits plunged 96% in the s...,6 HOURS AGO,https://www.cnbc.com/2023/07/07/samsung-estima...

In [60]:
driver.close()

# Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [74]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [75]:
soup = BeautifulSoup(page.content)

In [76]:
Title = []
for i in soup.find_all('h2', class_ = 'sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    Title.append(i.text)

In [77]:
Author = []
for i in soup.find_all('span', class_ = 'sc-1w3fpd7-0 dnCnAO'):
    Author.append(i.text)

In [79]:
Publish = []
for i in soup.find_all('span', class_ = 'sc-1thf9ly-2 dvggWt'):
    Publish.append(i.text)

In [80]:
Link = []
for i in soup.find_all('a',class_ = 'sc-5smygv-0 fIXTHm'):
    Link.append(i.get('href'))

In [81]:
df = pd.DataFrame([])
df['Title'] = Title
df['Authors'] = Author
df['Published'] = Publish
df['Links'] = Link

In [82]:
df

,Title,Authors,Published,Links
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# Write a python program to scrape mentioned details from dineout.co.inand make data frame

In [84]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [85]:
soup = BeautifulSoup(page.content)

In [86]:
Resto = []
for i in soup.find_all('a',class_= 'restnt-name ellipsis'):
    Resto.append(i.text)

In [87]:
Cuisine = []
for i in soup.find_all('span', class_ = 'double-line-ellipsis'):
    Cuisine.append(i.text.split('|')[1])

In [88]:
Location = []
for i in soup.find_all('div',class_= 'restnt-loc ellipsis'):
    Location.append(i.text)

In [95]:
Rate = []
for i in soup.find_all('span',class_= 'double-line-ellipsis'):
    Rate.append(i.text.split('|')[0])

In [90]:
Link = []
for i in soup.find_all('img',class_= 'no-img'):
    Link.append(i.get('data-src'))

In [97]:
df = pd.DataFrame([])
df['Restaurent'] = Resto
df['Cuisine'] = Cuisine
df['Location'] = Location
df['Rate']=Rate
df['Image Link']=Link

In [98]:
df

,Restaurent,Cuisine,Location,Rate,Image Link
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,680 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida","₹ 1,700 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,800 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,900 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)",https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
---------------------------------------------------------------------------------------------------------------